<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sahid Cholayil</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/lightbox.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'web/vendor/icofont/icofont.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}" />
    
  </head>

  <body>
    {% include "partials/header.html" %} 
    {% block content %}
    
    {% endblock %} 
    {% include "partials/footer.html" %}

    <script src="{% static 'web/js/jquery.min.js' %}"></script>
    <script src="{% static 'web/js/popper.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/script.js' %}"></script>
    <script src="{% static 'web/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
